
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LoginLayout.cshtml";
}

<section class="content-main ">
    <div class="card mx-auto card-login">
        <div class="card-body">
            <h4 class="card-title mb-4">Sign in</h4>
            <form asp-area="admin" asp-controller="login" asp-action="process" method="post" >
                <span class="text-danger">@ViewBag.error</span>
                <div class="mb-3">
                    <input class="form-control" placeholder="Username or email" type="text" name="username" />
                </div>
                <!-- form-group// -->
                <div class="mb-3">
                    <input class="form-control" placeholder="Password" type="password" name="password" />
                </div>
                <!-- form-group// -->
                
                <!-- form-group form-check .// -->
                <div class="mb-4">
                    <button type="submit" class="btn btn-primary justify-content-center w-100">Login</button>
                </div>
                <!-- form-group// -->
            </form>
        </div>
    </div>
</section>
